* {
  /* box-sizing: inherit; */
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.country-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  background-color: lightgray;
  border-radius: 1rem;
  width: 40vw;
}

.countryInput {
  width: 40vw;
}

.currency {
  display: flex;
  flex-direction: row;
}

.flag {
  /* border: 1px solid black; */
  border-radius: 0.5rem;
  width: 20rem;
  height: 10rem;

  object-fit: fill;
}

.weather {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#confirm-btn {
  margin: 0 5vw;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

#country-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
}

#inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0;
}
